// Colors
$teal: #a4c8c9;
$blue: #2c6c99;
$textGray: #696a6c;
$salmon: #cb7777;
$white: #ffffff;
$headerGray: #9fa1a4;
$commentBkg: #e4e5e6;
$inputHeader: #747678;
$backgroundGray: #E9EBEE;
$borderGray:#e5e6e9 ;
$headerBackground: #f6f7f9;

// ****** Main Styles *******
body, html {
  margin: auto;
  height: 100%;
  background-color: $backgroundGray;
}


//fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;

h1{
  font-family: $font-primary;
  font-weight: 300;
  font-size: 2.4em;
  color: $textGray;
  margin-bottom: 0px
}

h2 {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 2em;
  color: $blue;
  text-align: center;
  padding: 20px 0 10px 0;
}
h3 {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 1.5em;
  color: $textGray;
  margin-top: 0px;
}
h4{
  color: $textGray;
  text-decoration: underline;
  text-align: center;
  font-size: 1.4em;
}
h5{
  color: $textGray;
  font-size: 1em;
  font-weight: 400;
}
p{
  font-family: $font-primary;
  font-weight: 300;
  color: $textGray;
  font-size: .9em;
}
a{
  font-family: $font-primary;
  font-weight: 300;
}


button {
  background-color: $salmon;
  color: $white;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 300;
  border-radius: 6px;

}

.blueLine{
  width: 100%;
  height: 2px;
  background-color: $blue;
}

.boundingBox {
  margin-top: 20px;
  border: 1px $borderGray solid;
  border-radius: 3px;
  background-color: #fff;
}
.profileImg{
  width: 50px;
  height: 50px;
}

.imgFit{
  object-fit: cover;
}

.imgDiv{
    padding: 20px 0;
    text-align: center;
    img{
      box-shadow: -2px 2px 5px $textGray;
    }

  }
  img {
    max-height: 120px;

  }
  .bookInfo {
    padding: 0 5px 10px 5px;;
  }

.profileSidebar {
  padding-top: 40px;
}

.headerStyle {
  background-color: $headerBackground;
  border: 1px $borderGray solid;
    padding: 0 0 20px 0;
}


// ****** SideBar Styles *******
.sideBar {
  h2{
    font-family: $font-primary;
    font-weight: 400;
    font-size: 2em;
    color: $blue;
    text-align: center;
    padding: 20px 0 10px 0;
  }
  h3 {
    color: $white;
    background-color: $blue;
    font-size: 1.6em;
    margin: 15px 0;
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
  }

  p{
    color: $textGray;
    font-size: 1em;
    font-weight: 300;
    padding: 6px 12px 0 12px;
  }
  #name {
    font-weight: 600;
  }

  .signedInUser {
    margin: 15px 0;
  }
  a {
    font-size: .9em;
    text-decoration: underline;
  }

}




// ****** Header Styles *******
header {
  background-color: $teal;
  height: 60px;
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
    font-size: 1.2em;
  }
  .signOut{
    padding: 20px 0;
    float: right;
  }
  .headerWrapper{
    padding: 0 3% 0 7%;
  }
}

// ****** Footer Styles *******
footer{
  height: 60px;
  background-color: $commentBkg;
  margin-top: 150px;
}


// ****** Login Styles *******

.loginBackground {
  min-height: 100%;
  background-image: url('../images/login-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.loginWindow {
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: $white;
  color: $textGray;
  padding: 3% 5% ;
  box-shadow: -6px 7px 5px #888888;


  .loginHeader{
    text-align: center;
  }
  p {
    font-size: 1.2em;
  }

  form{
    margin: 30px 0;

    input{
      width: 100%;
      margin: 0 0 20px 0;
    }

    h2 {
      text-align: center;
      font-weight: 400;
    }
    .invalid{
      color: red;
    }
    .thumb {
      width: 24px;
      height: 24px;
      float: none;
      position: relative;
      top: 7px;
    }
  }
}
// ****** Admin Styles *******
.adminMain {
  .blueLine {
    width: 90%;
    margin: 0 5%;
  }
}
.bookSearch {
  button {
    margin: 20px 0;
  }
}
// ****** Admin Member Styles *******
.allMembers {
  margin: 40px 0 0 0;
  height:400px;
  overflow-x: scroll;
}
.coverImgThumb {
  float: left;
  padding: 5px;
}
.selected {
  background-color: $backgroundGray;
}

.adminMemberSections {

  .subBoundingBox {
    min-height:300px;
    h4{
      padding: 0 0 20px 0;
      text-decoration: underline;
      font-size: 1.4em;
    }
  }
  .disable{
    background-color: transparent;
    color: $blue;
    text-decoration: underline;
  }
  .make{
    background-color: $blue;
  }
  .decline{
    width: 71px;
    margin: 10px 0 0 0 ;
  }
  .adminRequestRow{
    margin: 0 auto;
    width: 90%;
    padding: 15px ;
  }
  .pendingUsers {
    padding: 15px 0;

  }


}

.subBoundingBox {
  min-height: 500px;
  background-color: $commentBkg;
  border-radius: 3px;

  .row{
    margin: 0;
  }
  h3 {
    color: $white;
    text-align: center;
    background-color: $headerGray;
    font-family: $font-primary;
    font-weight:300;
    font-size: 1.3em;
    margin-top: -2px;
    padding: 15px 0;
    border-radius: 3px;
  }
  h4 {
    color: $textGray;
    padding:0 0 0  10px;
    text-decoration: none;
    font-weight: 300
  }
  .adminRights{

  } //end adminRights
  .userEmail {
    font-size: .7em;
  }
  .allUsers{
    padding: 5px;
  }
  .bookListing{
    padding: 5px;
  }
  .bookContainer{
    overflow-x: scroll;
    height: 200px;
    background-color: $white;
    margin: 10px 0 0 0;
  }

  #title {
    font-size: .9em;
  }
  #author {
    font-size: .8em;
  }
  #isbn {
    font-size: .7em;
  }
}
.containerBox{
  padding: 10px;
  input{
    width: 90%;
  }

}


// ****** Main Page Styles *******

.prevReads {
  .headerStyle {
    padding: 0 0 20px 0;
  }
  .blueLine {
    width: 90%;
    margin: 0 5%;
  }
  a {
    color: $textGray;
  }
  h3{
    text-align: center;
    font-weight: 600px;
    text-decoration: underline;
  }
  .bookInfo {
    padding: 0 0 10px 15%;;
  }

  .allBooks {
    height: 500px;
    overflow-x: scroll;
  }

  .allRequests {
    height: 400px;
    overflow-x: scroll;
  }

}

.mainThread {
  margin: 40px 0 20px 0;
  .commentThread {
    overflow-x: scroll;
    height: 500px;
  }
  h3 {
    color: $white;
    text-align: center;
    background-color: $headerGray;
    font-family: $font-primary;
    font-weight:300;
    font-size: 1.3em;
    margin-top: -2px;
    padding: 15px 0;
    border-radius: 3px;
  }
  h4 {
    color: $textGray;
    padding:0 0 0  5px;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.2em;

  }
  .submitThread{
    min-height: 250px;
  }
  .mainComment{
    padding: 10px 10px 0 10px;
    width: calc(100% - 10px);
    height: auto;
    margin-bottom: 20px;

  }
  form{
    padding: 0 0 40px 0;
  }
  .comment {
    background-color: $backgroundGray;
    margin: 0 0 20px 0;
    padding: 20px 0 20px 20px;
    border-radius: 4px;
    p {
      font-size: 1em;
      color: $textGray
    }
    span {
      font-size: .7em;
      font-weight: 500;
    }
  }
}

.boundingBoxRow {
  margin: 40px 0;
}
