
<div  ng-controller="AdminController as ac" class="page">
  <!-- Header -->
  <header>
    <div class="container">
      <div class="col-sm-9">
        <a href="/#!/main"><img ng-src="images/header-logo.png" alt=""></a>
      </div>
      <div ng-show="mc.user.admin" class="col-sm-2 signOut">
        <a href="/#!/admin">Admin Page</a>
      </div>
      <div class="col-sm-1 signOut">
        <a href="/" ng-click="logOut()">Sign Out</a>
      </div>
    </div>
  </header>

  <!-- Main Page Content-->
  <section class="container-fluid welcome">
    <div class="row">
      <!-- User Info and Current Book Section-->
      <section class="col-sm-offset-1 col-sm-2 sideBar boundingBox ">
        <div class="row ">

          <div class="col-sm-4">
          </div>
          <div class="col-sm-6 col-sm-offset-1">
            <h4 class="welcome">Welcome </h4>
            <p>{{mc.user.firstName}} {{mc.user.lastName}}</p>
          </div>
        </div>
        <h3>Current Books</h3>
        <div class="row prevReads" >
          <div class="col-sm-12" ng-repeat="book in mc.futureReads " >
            <div class="imgDiv">
              <img ng-src="{{book.cover_img}}" alt="" class="bookThumb">
            </div>
            <h3>{{book.title}}</h3>
            <div class="bookInfo">
              <p>Author: {{book.author }} </p>
              <h4>Due: {{book.due_date | date : format : medium}} </h4>
            </div>
          </div>
        </div>
      </section>
      <!-- Admin Page Content  -->
      <section class=" col-md-7 col-sm-offset-1  boundingBox">
        <h2>Admin Page</h2>
        <div class="blueLine"></div>
        <div class="row boundingBoxRow">
        <!-- Search for Book -->
          <div class="col-md-4 ">
            <div class="subBoundingBox">
              <div class="containerBook" >
                <form ng-submit="ac.searchForBook(ac.search)">
                  <h3>Add New Book</h3>
                  <div class="containerBox">
                    <h4>Search Books</h4>
                    <input type="text" ng-model="ac.search" placeholder="title/ author / isbn" ng-submit="ac.searchForBook(ac.search)">
                    <button type="button" ng-click="ac.searchForBook(ac.search)" name="button">Search</button>

                </form>
                <!-- Display Book Results -->
                <div class="bookContainer">
                <div ng-repeat="book in ac.books | limitTo:15 " class="bookListing" >
                  <div class="row" ng-click="ac.chooseBook($index)">
                    <div class="col-sm-2 ">
                      <img ng-src="http://covers.openlibrary.org/b/isbn/{{book.isbn[0]}}-S.jpg" />
                    </div>
                    <div class="col-sm-9">
                      <div class="listingInfo" id="title">{{book.title}}</div>
                      <div class="listingInfo" id="author">By {{book.author_name[0]}}</div>
                      <div class="listingInfo" id="isbn">ISBN# {{book.isbn[0]}} </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <!-- Submit Book-->
            <div class="">
              <input type="date" placeholder="Date / Month / Year" ng-model="ac.dueDate">
              <button type="button" name="button" ng-click="ac.submitBook()">Submit Book</button>
            </div>
          </div>
          </div>
          <!-- Membership Requests-->
            <div class="col-md-4" ng-init="ac.getRequests()">
              <div class="subBoundingBox">
                  <h3>Membership Requests</h3>
                  <div>
                    <h4>{{ac.pendingUsers.length}} New Requests</h4>
                    <div class="pendingUsers" ng-repeat = 'user in ac.pendingUsers '>
                      <!-- | orderBy:["first_name","last_name", "email"] -->
                      <div class="row">
                        <div class="col-md-4">
                          {{user.profile_img}}
                        </div>
                        <div class="col-md-8">
                          {{user.first_name}} {{user.last_name}} <br>
                          {{user.email}}
                        </div>
                      </div>

                      <div >
                        <button type="button" name="button" class="btn" ng-click="ac.changeStatus(user.user_id, 'active')">Approve</button>
                        <button type="button" name="button" class="btn" ng-click="ac.changeStatus(user.user_id, 'declined')">Decline</button>
                      </div>

                    </div>
                  </div>
              </div>
            </div>
            <!-- All Users-->
              <div class="col-md-4 " ng-init="ac.getMembers()">
                <div class="subBoundingBox">
                    <h3>All Members</h3>
                    <div>
                      <div class="allUsers" ng-repeat = 'user in ac.allUsers '>
                        <div class="row">
                          <md-content flex layout="row" layout-align="center">
                          <md-content flex="10">
                          <div class="col-md-4">
                            {{user.profile_img}}
                          </div>
                          <div class="col-md-8">
                            {{user.first_name}} {{user.last_name}}
                            <div class="userEmail">
                              {{user.email}}
                            </div>
                            <!-- Change Member Priviliges-->
                            <div class="adminRights">
                              <div ng-show="user.role  == '3'" >
                                <button type="button" name="button" ng-click="ac.changeRole(user.user_id, 2)">Make Admin</button>
                              </div>
                              <div ng-show="user.role  == '2'" >
                                  <button type="button" name="button" ng-click="ac.changeRole(user.user_id, 3)">Remove Admin</button>
                                  <button ng-show="ac.user.role == '1'" type="button" name="button" ng-click="ac.changeRole(user.user_id, 1)">Make Owner</button>

                              </div>
                              <div ng-show="user.role  == '1'">
                                  <button ng-show="ac.user.role == '1'" type="button" name="button" ng-click="ac.changeRole(user.user_id, 3)">Remove Owner</button>
                              </div>
                              <div class=" col-md-3 signOut">
                                  <button type="button" name="button" ng-click="ac.changeStatus(user.user_id, 'disabled')">Disable</button>
                              </div>
                          </div>
                          </div>
                        </md-content>
                      </md-content>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
        </div>

      </section>
    </div>
  </section>
  <footer></footer>
</div><!-- End Controller -->
