

<div class="page"  >
  <!-- Header -->
  <header>
    <div class="container">
      <div class="col-sm-9">
        <a href="/#!/main"><img src="images/header-logo.png" alt=""></a>
      </div>
      <div ng-show="bc.user.admin" class="col-sm-2 signOut">
        <a href="/#!/admin">Admin Page</a>
      </div>
      <div class="col-sm-1 signOut">
        <a href="/" ng-click="logOut()">Sign Out</a>
      </div>
    </div>
  </header>

<!-- Main Page Content-->
<div class="bookController">


<section class="container-fluid welcome" ng-controller="BookController as bc" ng-init="bc.getUser()" >
  <div class="row">
    <!-- User Info and Current Book Section-->
    <section class="col-sm-offset-1 col-sm-2 sideBar boundingBox "  >
      <div class="row ">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <h4 class="welcome">Welcome </h4>
          <p>{{bc.user.firstName}} {{bc.user.lastName}}</p>
        </div>
      </div>
      <h3>Current Books</h3>
      <div class="row prevReads"  >
        <div class="col-sm-12" ng-repeat="book in bc.futureReads " >
          <div class="imgDiv">
            <img ng-src="{{book.cover_img}}" alt="" class="bookThumb">
          </div>
          <h3>{{book.title}}</h3>
          <div class="bookInfo">
            <p>Author: {{book.author }} </p>
            <h4>Due: {{book.due_date | date : format : medium}} </h4>
          </div>
        </div>
      </div>
    </section>

      <!-- All Books Section-->
        <!-- Book Information Section -->
        <section class=" boundingBox prevReads col-sm-7 col-sm-offset-1 "   >


          <section class="col-sm-4" >
            <h2>{{bc.bookPageBook[0].title}}</h2>
            <img ng-src="{{bc.bookPageBook[0].cover_img}}" alt="">
            <div class="">
              Due Date: {{bc.bookPageBook[0].due_date | date : format : medium}} <br>
              Author: {{bc.bookPageBook[0].author}}<br>
              Published: {{bc.bookPageBook[0].published_date | date : format : medium}}<br>
            </div>
          </section>



          <!-- Main Comment Thread-->
          <section class=" mainThread col-sm-8" >
            <h2>Book Title Feed</h2>
            <div class="blueLine"></div>
            <div class="commentSection">
              <div class="row boundingBoxRow" >
                <div class="col-sm-12">
                  <div class="subBoundingBox submitThread">
                    <div class="containerBook" >
                      <form ng-submit="bc.addBookComment(bc.comment)">
                        <h3>Submit to Thread</h3>
                        <div class="containerBox">
                          <h4>Message</h4>
                          <textarea class="mainComment" rows="4" cols="35"  ng-model="bc.comment" ng-attr-placeholder="Write a comment.." ></textarea>
                          <button type="button" ng-click="bc.addBookComment(bc.comment)" name="button">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7 commentThread">
                  <div class="row ">
                    <div class="col-ms-12 comment" ng-repeat="comment in bc.bookComments">
                      <img ng-src="{{comment.profileImage}}" alt="" class="profileImg img-circle ">
                       {{comment.name}} {{comment.date | date : format : medium }} {{comment.comment}}
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </section>
        </section>

    </section>
      <footer></footer>
