<div >
  <!-- Header -->
  <header ng-controller="HeaderController as hc">
    <div class="headerWrapper">
      <div class="col-sm-7 col-md-9">
        <a href="/#!/main"><img src="images/header-logo.png" alt=""></a>
      </div>
      <div class="col-sm-5 col-md-3 ">
        <div class="col-md-4 col-sm-4  signOut">
          <a href="/" ng-click="hc.logOut()">Sign Out</a>
        </div>
        <div ng-show="hc.user.admin" class="col-md-4 col-sm-4  signOut">
          <a href="/#!/admin">Admin </a>
        </div>
        <div class="col-md-4 col-sm-4 signOut">
          <a href="/#!/main">Home</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Page Content-->
  <section class="container-fluid welcome"  >
    <div class="row" ng-controller="UpdateController as uc" ng-init="uc.getUser()">
      <!-- User Info and Current Book Section-->
      <section class="col-sm-offset-1 col-sm-2 sideBar boundingBox " >
        <div class="row " >
          <div class="col-sm-4">
          </div>
          <div class="col-sm-6 col-sm-offset-1">
            <h4 class="welcome">Welcome </h4>
            <img ng-src="{{uc.user.image}}" alt="" class="profileImg imgFit img-circle">
            <p>{{uc.user.firstName}} {{uc.user.lastName}}</p>

          </div>
        </div>
        <h3>Current Books</h3>
        <div class="row prevReads"  class="col-sm-offset-1 col-sm-2 sideBar boundingBox "  >
          <div class="col-sm-12" ng-repeat="book in uc.futureReads " >
            <div class="imgDiv">
              <img ng-src="{{book.cover_img}}" alt="" class="bookThumb">
            </div>
            <h3>{{book.title}}</h3>
            <div class="bookInfo">
              <p>Author: {{book.author }} </p>
              <h4>Due: {{book.due_date | date : format : medium}} </h4>
            </div>
          </div>
        </div>
      </section>


      <section class=" col-sm-7 col-sm-offset-1  boundingBox prevReads "   >
        <h2>Edit Your Profile</h2>
        <div class="blueLine"></div>
        <!-- Edit User Info Form -->
        <form editable-form name="editableForm" onaftersave="uc.getUpdatedInfo()" >
          <div>
            <!-- editable username (text with validation) -->
            <span class="title">First Name: </span>
            <span editable-text="uc.user.firstName" class="input" e-name="firstName"  e-required >{{ uc.user.firstName || 'empty' }}</span>
          </div>

          <div>
            <!-- editable status (select-local) -->
            <span class="title">Last Name: </span>
            <span editable-text="uc.user.lastName" class="input" e-name="lastName"  e-required >{{ uc.user.lastName|| 'empty' }}</span>
          </div>

          <div>
            <!-- editable group (select-remote) -->
            <span class="title">Email: </span>
            <span editable-text="uc.user.email" class="input" e-name="email"  e-required >{{ uc.user.email|| 'empty' }}</span>
          </div>
          <div class="">
            <input type="button" value="Upload" ng-click="uc.showPicker()" />
          </div>
          <div>
          </div>

          <div>
            <!-- button to show form -->
            <button type="button" class="btn" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
              Edit
            </button>
            <!-- buttons to submit / cancel form -->
            <span ng-show="editableForm.$visible">
              <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" >
                Save
              </button>
              <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                Cancel
              </button>
            </span>
          </div>
        </form>
        <button type="button" class="btn" name="button">Disable Account</button>
      </section>
      <!-- All Books Section-->

      <section class=" col-sm-7 col-sm-offset-1  boundingBox prevReads "  ng-controller="UpdateBookController as ub" class="page" ng-init="ub.getBooks()" >
        <h2>Edit All Books</h2>
        <div class="blueLine"></div>
        <div class="allBooks">
          <div class="row" >

            <div class="col-sm-4 prevBooks" ng-repeat="book in ub.savedBooks | orderBy : '-due_date'">
              <div class="imgDiv">
                <img ng-src="{{book.cover_img}}" alt="" class="bookThumb">
              </div>
              <!-- Edit Book Information -->
              <form editable-form name="editableForm" onaftersave="ub.getUpdatedBook($data, book.book_id )" >
                <div>
                  <!-- editable username (text with validation) -->
                  <span  e-name="bookId" ng-hide="true">{{ book.book_id|| 'empty' }}</span>
                  <span class="title">Title: </span>
                  <span editable-text="book.title" class="input" e-name="title"  e-required >{{ book.title|| 'empty' }}</span>
                </div>

                <div>
                  <!-- editable status (select-local) -->
                  <span class="title">Author: </span>
                  <span editable-text="book.author" class="input" e-name="author"  e-required >{{book.author|| 'empty' }}</span>
                </div>

                <div>
                  <!-- editable group (select-remote) -->
                  <span class="title">ISBN: </span>
                  <span editable-text="book.isbn" class="input" e-name="isbn"  e-required >{{book.isbn|| 'empty' }}</span>
                </div>
                <div>
                  <!-- editable group (select-remote) -->
                  <span class="title">Published: </span>
                  <span editable-text="book.published_date" class="input" e-name="datePublished"  e-required >{{book.published_date|| 'empty' }}</span>
                </div>
                <div>
                  <!-- editable group (select-remote) -->
                  <span class="title">Due Date: </span>

                  <span editable-text="book.due_date" e-datepicker-popup="dd-MMMM-yyyy" e-name="dueDate"  e-required >{{book.due_date | date : format : medium|| 'empty' }}</span>
                </div>

                <div>
                </div>

                <div>
                  <!-- button to show form -->
                  <button type="button" class="btn" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    Edit
                  </button>
                  <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" >
                      Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                      Cancel
                    </button>
                  </span>
                </div>

                  <div class="">
                    <input type="button" value="Upload" ng-click="ub.showPicker()" />
                  </div>
                  <!-- buttons to submit / cancel form -->

              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
