<header>
  <a href="/">login</a>
  <a href="/#!/register">register</a>
  <a href="/#!/admin">admin</a>
  <a href="/#!/edit-profile">edit profile</a>
  <a href="/#!/book">book</a>
  <a href="/#!/main">main</a>
</header>
<div ng-controller="LoginController as lc" class="loginBackground">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10 loginWindow">

      <!-- Start Login Header -->
      <div class="loginHeader">
        <img src="../images/logo-white-bkg.png" style="width:70px" alt="">
        <h1>Bookaholics</h1>
        <h2>Book Club</h2>
        <div class="blueLine"></div>
      </div>
      <!-- End Login Header  -->

      <!-- Start Login Form -->
      <form>
        <h2>Login</h2>
        <p>Email Address</p>
        <input type="text" placeholder="name@gmail.com" type="text" ng-model="lc.emailInput">
        <p>Password</p>
        <input ng-model='lc.passwordInput' type="password" name="" value="" placeholder="Password">
        <button type="button" name="button" ng-click="lc.login()">Sign In</button>
      </form>
      <!-- End Login Form -->

      <p>Not Registered?</p>
      <a href="/#!/register">Register Here</a>
    </div>
  </div>
</div>
